<div class="fixed w-full h-full bg-dark-base-950/80 top-0 left-0"></div>
<div class="bg-dark-base-950 fixed rounded-2xl p-6 border-2 border-dark-base-900 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 max-w-[500px] w-11/12 z-50">
    @if (!successfulPassword) {
        <h5 class="text-white text-h5 font-semibold mb-6">Cambiar contraseña</h5>
        <form [formGroup]="form">
            <div class="mb-4 relative">
                <label class="fk-label">Contraseña actual</label>
                <input type="password" formControlName="currentPassword" placeholder="Escribe tu contraseña"
                    (input)="edidtCurrentPassword()" class="fk-input mb-2"
                    [class]="currentPasswordField.errors && currentPasswordField.touched ? 'border-error' : 'border-transparent'" />
                <app-view-password class="absolute top-12 pt-1.5 right-4"></app-view-password>
                @if (currentPasswordField.errors && currentPasswordField.touched) {
                <app-errors-forms [errors]="currentPasswordField.errors"></app-errors-forms>
                }
                @if (errorCurrentPassword) {
                <p class="text-body-3 text-error font-normal">Contraseña incorrecta</p>
                }
            </div>
            <div class="mb-4 relative">
                <label class="fk-label">Contraseña nueva</label>
                <input type="password" formControlName="password" placeholder="Escribe tu nueva contraseña"
                    class="fk-input mb-2"
                    [class]="passwordField.errors && passwordField.touched ? 'border-error' : 'border-transparent'"
                    (focus)="onfocus()" (blur)="onBlur();" />
                <app-view-password class="absolute top-12 pt-1.5 right-4"></app-view-password>
                @if (passwordField.errors && passwordField.touched) {
                <app-errors-forms [errors]="passwordField.errors"></app-errors-forms>
                }
                @if (isShowedPassword) {
                <app-password-validators [value]="passwordField.value"></app-password-validators>
                }
            </div>
            <div class="mb-4 relative">
                <label class="fk-label">Confirmar contraseña</label>
                <input type="password"
                    [class]="confirmPasswordField.errors && confirmPasswordField.touched ? 'border-error' : 'border-transparent'"
                    formControlName="confirmPassword" placeholder="Escribe tu nueva contraseña" class="fk-input" />
                <app-view-password class="absolute top-12 pt-1.5 right-4"></app-view-password>
                @if (confirmPasswordField.errors && confirmPasswordField.touched) {
                <app-errors-forms [errors]="confirmPasswordField.errors"></app-errors-forms>
                }
            </div>
            <div class="flex items-center gap-4">
                <button class="fk-btn fk-btn-secondary w-full mb-6" (click)="close()">
                    Cancelar
                </button>
                <button class="fk-btn fk-btn-primary w-full mb-6" [disabled]="form.invalid" (click)="onSubmit()">
                    Guardar
                </button>
            </div>
            
        </form>
    } @else {
        <div class="text-center">
            <img class="mb-6 inline-block" [src]="check" alt="">
            <h5 class="text-h5 font-semibold text-white mb-6">¡Contraseña actualizado con éxito!</h5>
            <button class="fk-btn fk-btn-primary w-full" (click)="close()">Aceptar</button>
        </div>
    }
</div>