<ul class="list-none">
    <li class="flex gap-2 mb-1">
      <img
        [class]="_minLength ? 'opacity-100' : 'opacity-40'"
        [src]="_minLength ? validGreen : validGray"
        alt="valid gray icon"
      />
      <span class="text-gray-fk-400 text-body-3">8 o más caracteres</span>
    </li>
    <li class="flex gap-2 mb-1">
      <img
        [class]="_minus ? 'opacity-100' : 'opacity-40'"
        [src]="_minus ? validGreen : validGray"
        alt="valid gray icon"
      />
      <span class="text-gray-fk-400 text-body-3">Al menos 1 minúscula</span>
    </li>
    <li class="flex gap-2 mb-1">
      <img
        [class]="_mayus ? 'opacity-100' : 'opacity-40'"
        [src]="_mayus ? validGreen : validGray"
        alt="valid gray icon"
      />
      <span class="text-gray-fk-400 text-body-3">Al menos 1 mayúscula</span>
    </li>
    <li class="flex gap-2 mb-1">
      <img
        [class]="_number ? 'opacity-100' : 'opacity-40'"
        [src]="_number ? validGreen : validGray"
        alt="valid gray icon"
      />
      <span class="text-gray-fk-400 text-body-3">Al menos 1 número</span>
    </li>
    <li class="flex gap-2 mb-1">
      <img
        [class]="_symbol ? 'opacity-100' : 'opacity-40'"
        [src]="_symbol ? validGreen : validGray"
        alt="valid gray icon"
      />
      <span class="text-gray-fk-400 text-body-3">Al menos 1 símbolo</span>
    </li>
  </ul>
  