
<div class="flex gap-8 mb-6">
  <a 
  routerLink="/profile" 
  routerLinkActive="active-link" 
  [routerLinkActiveOptions]="{exact:true}"
  class="text-dark-base-400 font-semibold text-subtitle-1 border-b-2 border-transparent py-3.5 px-2 relative"
>
  Información general
</a>
<a 
  routerLink="/profile/notifications" 
  routerLinkActive="active-link"  
  [routerLinkActiveOptions]="{exact:true}"
  class="text-dark-base-400 font-semibold text-subtitle-1 border-b-2 border-transparent py-3.5 px-2 relative"
>
  Notificaciones
</a>
</div>